.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 1.2rem;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 1rem;
    color: #003580;
    cursor: pointer;
}