.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 2rem 0 0 0;
}

.headerContainer .listMode {
    margin: 2rem 0 0 0;
}

.headerList {
    display: flex;
    gap:4rem;
    margin-bottom: 5rem;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerListItem.active {
    border: 0.1rem solid white;
    padding: 1rem;
    border-radius: 2rem;
}

.headerDesc {
    margin: 2rem 2rem;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.headerSearch {
    height: 3rem;
    background-color: white;
    border: 0.3rem solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }